<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>React-Native-Poc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1583094F1F550DA700DB6A2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>158309631F550DA700DB6A2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1583096E1F550DA700DB6A2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
